<div id="post-view" v-cloak>
    <br>
  <div class="container">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h2> Show Posts</h2>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" href="/posts"> Back</a>
        </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
              <strong>Title:</strong>
              <%= post.postTitle %>
          </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
              <strong>Description:</strong>
              <%= post.postDescription %>
          </div>
      </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
